<footer>
    <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At est fuga placeat molestias, deserunt provident officiis repellat a odio quia suscipit nobis! Ipsam accusantium reprehenderit eum aspernatur, incidunt quibusdam in?
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, rem molestias ullam repudiandae quo in fugiat commodi perspiciatis eos necessitatibus aliquam illum. Facere, quidem iste. Id aut adipisci voluptatum recusandae incidunt corrupti dolores sint dolorum. Eum, tempore earum rem animi dolorem commodi a eius eos nisi quis atque vero? Quas facere sed odio iusto quos alias tempora, repellat dolores consequuntur voluptas delectus. Repellat consequuntur, velit amet recusandae molestiae sequi deserunt officia numquam alias odit, natus iste doloremque, non totam quas ab suscipit earum. Rerum quas ut dolorum aut, laboriosam minus nemo velit? Dolor eius odio in dolores, veritatis cumque placeat.</p>
</footer>